body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: rgb(255, 218, 185);
  margin: 0;
  padding: 0;
}

body * {
  margin: 0;
  padding: 0;
}

#mainArt img {
  height: 70vh;
  padding: 5vh 0;
}

#mainArt {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  min-height: 80vh;
}

#thumbnailGrid {
  /* display: none toggled to flex by JS after search */
  display: none;
  min-height: 80vh;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

div.thumbnail img {
  height: 25vh;
}

#artLabel {
  margin-left: 5vh;
  margin-bottom: 10vh;
}

#searchBox {
  height: 20vh;
  width: 100vw;
  /* border: 1px solid black; */
  background-color: rgb(255, 231, 209);
  display: flex;
  justify-content: center;
  align-items: center;
}

select,
input {
  font-size: 18px;
}

select {
  width: 200px;
  height: 40px;
}

input#keyword {
  width: 300px;
  height: 36px;
}
