body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: peachpuff;
}

body * {
  margin: 0;
  padding: 0;
}

img {
  height: 70vh;
}

#mainArt {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#artLabel {
  margin-left: 20px;
}
